{% extends 'base.html' %}
{% load static %}
{% block titleblock %}
sms | Categorey
{% endblock titleblock %}
{% block bodycontent %}
<div class="col-md-4 offset-md-4"><br>
	{% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                	<span aria-hidden="true">&times;</span>
                </button>
            {{ message }}
            </div>
        {% endfor %}
    {% endif %} 
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card card-default rounded-0 shadowcss ">
        <div class="card-header">
            <div class="d-flex w-100 align-items-center justify-content-between">
                <h4 class="card-title fw-bold">Product Categories</h4>
                <div class="tools">
                    <button type="button" class="btn btn-primary rounded-0 bg-gradient btn-sm" id='add_new' data-toggle="modal" data-target="#exampleModal" data-whatever="@fat"><i class="fa fa-plus"></i><a style="color:white; text-decoration:none;" href="{% url 'addcategorey' %}">Add New</a></button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="container-fluid">
                <table class="table table-bordered" id="category-list">
                    <colgroup>
                        <col width="5%">
                        <col width="15%">
                        <col width="20%">
                        <col width="30%">
                        <col width="15%">
                        <col width="15%">
                    </colgroup>
                    <thead>
                        <tr class="bg-gradient bg-primary bg-opacity-50 text-light">
                            <th class="px-2 py-2 text-center">S.L</th>
                            <th class="px-2 py-2 text-center">Create Date</th>
                            <th class="px-2 py-2 text-center">Categorey name</th>
                            <th class="px-2 py-2 text-center">Brand name</th>
                            <th class="px-2 py-2 text-center">Status</th>
                            <th class="px-2 py-2 text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for allcat in page_cat_obj %}
                        <tr>
                            <td class="px-2 py-1 text-center">{{forloop.counter}}</td>
                            <td class="px-2 py-1 text-center">{{ allcat.publish_date|date:"Y-m-d h:i A" }}</td>
                            <td class="px-2 py-1 text-center">{{allcat.cat_name}}</td>
                            <td class="px-2 py-1 text-center">
                                <p class="m-0 text-truncate">{{allcat.cat_brand}}</p>
                            </td>
                            <td class="px-1 py-1 text-center text-center">
                                {% comment %} {{allcat.active}} {% endcomment %}
                                {% if allcat.status == '1' %}
                                <span class="badge text-light bg-primary bg-gradient rounded-pill px-2">Active</span> {% else %}
                                <span class="badge text-light bg-secondary bg-gradient rounded-pill px-2">Inactive</span> {% endif %}
                            </td>
                            <td class="px-2 py-1 align-middle text-center">
                                <a class="btn btn-outline-primary btn-sm edit-data" href="" data-id="" title="Edit">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <button class="btn btn-outline-danger btn-sm delete-data" type="button" data-id="" title="Delete">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div>
                    <span>
                        {% if page_cat_obj.has_previous %}
                            <a style="text-decoration:none;" href="?cat_page={{page_cat_obj.previous_page_number}}">Previous</a>
                        {% endif %}
                        <span>{{ page_cat_obj.number }}</span>
                        {% if page_cat_obj.has_next %}
                            <a style="text-decoration:none;" href="?cat_page={{page_cat_obj.next_page_number}}">Next</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

        <div class="modal fade" tabindex="-1" role="dialog" id="editBrandModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="submit" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Edit Brand</h4>
                    </div>
                    <div class="modal-body">

                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div class="modal fade" tabindex="-1" role="dialog" id="removeCategoryModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="submit" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Remove Category</h4>
                    </div>
                    <div class="modal-body">
                        <p>Do you want to really delete?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                        <button type="submit" class="btn btn-danger" id="btn-yes-delete">Yes</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
    {% comment %} Add Categorey {% endcomment %}
    
{% endblock bodycontent %}