/* body{
    background-color: rgb(75, 74, 74);
    color: antiquewhite;
} */

.form-control,.form-control:focus{
    background-color: rgb(223, 223, 223);
    /* background-color: rgb(177, 168, 168); */
}

.jumbo-color{
    background-color: rgb(83, 81, 81);
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(255 255 255) !important;
}
#transaction-area{
	display: block;
    text-align: center;
    font-weight: 700;
    color: aliceblue;
}

.submit-area{
	/*display: block;*/
	margin-top: 50px;
	padding: 40px;
	border-radius: 10px;
	box-shadow: 5px 5px 10px grey;
}

.categorey{
	background: slateblue;
}
.product{
	/*background: lightsalmon;*/
	background: rgb(255, 105, 198);
}
.sales{
	background: orange;
}
.shadowcss{
    border-radius: 0!important;
    box-shadow: 2px 2px 10px grey !important;
}
#mtcat{
    margin-top: 10px;
}
.page-link:not(:disabled):not(.disabled) {
    cursor: revert !important;
}
.pagenum a:hover{
    background-color:rgb(255, 255, 255) !important;
}