{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <title>{% block titleblock %}{% endblock titleblock %}</title>
    
    
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary" style="background-color: #e3f2fd;">
      {% if request.user.is_authenticated %}
      <a class="navbar-brand" href="{% url 'smsApps:index' %}">Stock Management System</a>
      {% else %}
      <a class="navbar-brand" style="color:white;">Stock Management System</a>
      {% endif %}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% if request.user.is_authenticated %}
        <ul class="navbar-nav mr-auto offset-lg-3 offset-sm-1">
          <li class="nav-item" style="color:#white;"><a class="nav-link" href="#">Categorey</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Product</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Order</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Invoice</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
        </ul>
        {% endif %}
        <ul class="navbar-nav" >
          {% if request.user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              @{{user.username}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="margin-top:7px;">
              <a class="dropdown-item" href="#">Profile</a>
              <a class="dropdown-item" href="#">My View</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'reglog:logout' %}">Logout</a>
            </div>
          </li>
          <li class="nav-item"><a class="nav-link" href="">OverView</a></li>
          {% else %}
          <li class="nav-item"><a class="nav-link" href="{% url 'reglog:signup' %}">Signup</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'reglog:login' %}">Login</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
    {% block bodycontent %}
      <h1>My Name is Masud rana</h1>
    {% endblock bodycontent %}
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>